##### Задания не несут смысловой нагрузки для реальной жизни, они сделаны лишь для того, чтоб научить использовать Pandas

This database contains 76 attributes, but all published experiments refer to using a subset of 14 of them. In particular, the Cleveland database is the only one that has been used by ML researchers to this date. The "goal" field refers to the presence of heart disease in the patient. It is integer valued from 0 (no presence) to 1.

https://www.kaggle.com/ronitf/heart-disease-uci

___

In [4]:
import pandas as pd
import numpy as np

In [14]:
data = pd.read_csv("/Users/mariabaranova/Desktop/DS/Level_up_CourseDS/heart_pandas.csv")

In [15]:
data.head()

,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
0,63,male,non-anginal pain,145,233,greater than 120mg/ml,normal,150,no,2.3,upsloping,0,normal,1
1,37,male,atypical angina,130,250,lower than 120mg/ml,ST-T wave abnormality,187,no,3.5,upsloping,0,fixed defect,1
2,41,female,typical angina,130,204,lower than 120mg/ml,normal,172,no,1.4,flat,0,fixed defect,1
3,56,male,typical angina,120,236,lower than 120mg/ml,ST-T wave abnormality,178,no,0.8,flat,0,fixed defect,1
4,57,female,typical angina,120,354,lower than 120mg/ml,ST-T wave abnormality,163,yes,0.6,flat,0,fixed defect,1

In [18]:
data.describe()

,age,resting_blood_pressure,cholesterol,max_heart_rate_achieved,st_depression,num_major_vessels,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,131.623762,246.264026,149.646865,1.039604,0.729373,0.544554
std,9.082101,17.538143,51.830751,22.905161,1.161075,1.022606,0.498835
min,29.000000,94.000000,126.000000,71.000000,0.000000,0.000000,0.000000
25%,47.500000,120.000000,211.000000,133.500000,0.000000,0.000000,0.000000
50%,55.000000,130.000000,240.000000,153.000000,0.800000,0.000000,1.000000
75%,61.000000,140.000000,274.500000,166.000000,1.600000,1.000000,1.000000
max,77.000000,200.000000,564.000000,202.000000,6.200000,4.000000,1.000000

#### Описание признаков

**age**: The person's age in years

**sex**: The person's sex (1 = male, 0 = female)

**cp**: The chest pain experienced (Value 1: typical angina, Value 2: atypical angina, Value 3: non-anginal pain, Value 4: asymptomatic)

**trestbps**: The person's resting blood pressure (mm Hg on admission to the hospital)

**chol**: The person's cholesterol measurement in mg/dl

**fbs**: The person's fasting blood sugar (> 120 mg/dl, 1 = true; 0 = false)

**restecg**: Resting electrocardiographic measurement (0 = normal, 1 = having ST-T wave abnormality, 2 = showing probable or definite left ventricular hypertrophy by Estes' criteria)

**thalach**: The person's maximum heart rate achieved

**exang**: Exercise induced angina (1 = yes; 0 = no)

**oldpeak**: ST depression induced by exercise relative to rest ('ST' relates to positions on the ECG plot. See more here)

**slope**: the slope of the peak exercise ST segment (Value 1: upsloping, Value 2: flat, Value 3: downsloping)

**ca**: The number of major vessels (0-3)

**thal**: A blood disorder called thalassemia (3 = normal; 6 = fixed defect; 7 = reversable defect)

**target**: Heart disease (0 = no, 1 = yes)

> 1. age 
> 2. sex 
> 3. chest pain type (4 values) 
> 4. resting blood pressure 
> 5. serum cholestoral in mg/dl 
> 6. fasting blood sugar > 120 mg/dl
> 7. resting electrocardiographic results (values 0,1,2)
> 8. maximum heart rate achieved 
> 9. exercise induced angina 
> 10. oldpeak = ST depression induced by exercise relative to rest 
> 11. the slope of the peak exercise ST segment 
> 12. number of major vessels (0-3) colored by flourosopy 
> 13. thal: 3 = normal; 6 = fixed defect; 7 = reversable defect

___

#### Сколько мужчин в датасете? Сколько женщен? (sex)

In [16]:
data["sex"].value_counts()

male      207
female     96
Name: sex, dtype: int64

#### Какой процент мужчин в датасете? (решите в одну строчку, не используя предыдущий результат. Не забудте знак процента)

In [86]:
print('Процент мужчин в датасете', data["sex"].value_counts(normalize=True)['male']*100, '%')

Процент мужчин в датасете 68.31683168316832 %

#### Сколько мужчин имеют заболевание сердца? Сколько женщин имеют заболевание сердца?

In [95]:
group_targ = data.groupby('target')
group_2 = group_targ.get_group(1)
group_2["sex"].value_counts()

male      93
female    72
Name: sex, dtype: int64

**Какую долю, от общего числа пациентов, занимают мужчины не имеющие болезнь сердца?**

In [97]:
group_sex_targ = data.groupby(['sex','target'])
group_sex_targ.get_group(('male', 0)).count()/data.count()

age                        0.376238
sex                        0.376238
chest_pain_type            0.376238
resting_blood_pressure     0.376238
cholesterol                0.376238
fasting_blood_sugar        0.376238
rest_ecg                   0.376238
max_heart_rate_achieved    0.376238
exercise_induced_angina    0.376238
st_depression              0.376238
st_slope                   0.376238
num_major_vessels          0.376238
thalassemia                0.376238
target                     0.376238
dtype: float64

**Сколько лет самому молодому пациенту, страдающему болезнью сердца?**

In [74]:
group_2['age'].min()

29

**Сколько лет самому возастному пациенту, у которого нет проблем с сердцем?**

In [96]:
group_3 = group_targ.get_group(0)
group_3['age'].max()

77

**Сколько лет самой молодой женщине, которая страдает болезнью сердца?**

In [98]:
group_sex_targ.get_group(('female', 1))['age'].min()

34

**Какой средний возраст женщин?**

In [76]:
group_sex = data.groupby('sex')
group_sex.get_group('female')['age'].mean()

55.677083333333336

**Каковы средние значения и среднеквадратичные отклонения возраста тех, кто страдают болезнью сердца?**

In [93]:
print(group_2['age'].mean())
print(group_2['age'].std())

52.4969696969697
9.550650751946778

#### Правда ли, что люди не болеющие болезнью сердца имеют уровня холестерина меньше среднего? (chol)

In [101]:
data['cholesterol'].mean() >= group_3['cholesterol'].mean()

False

**Выведите статистику rest_ecg для все числовых признаков, его максимально и среднее значение (используйте groupby(), решите в одну строчку)**

In [160]:
data.groupby('rest_ecg').describe()

                                age                                           \
                              count       mean        std   min    25%   50%
rest_ecg
ST-T wave abnormality         152.0  52.914474   9.229196  34.0  44.75  53.5
left ventricular hypertrophy    4.0  61.000000  10.099505  55.0  55.00  56.5
normal                        147.0  55.687075   8.675902  29.0  50.50  57.0

                                         resting_blood_pressure              \
                               75%   max                  count        mean
rest_ecg
ST-T wave abnormality         60.0  71.0                  152.0  129.065789
left ventricular hypertrophy  62.5  76.0                    4.0  140.500000
normal                        62.0  77.0                  147.0  134.027211

                              ... num_major_vessels      target            \
                              ...               75%  max  count      mean
rest_ecg                      ...
ST-T wave abnormality         ...               1.0  4.0  152.0  0.631579
left ventricular hypertrophy  ...               1.5  3.0    4.0  0.250000
normal                        ...               1.0  4.0  147.0  0.462585


                                   std  min  25%  50%   75%  max
rest_ecg
ST-T wave abnormality         0.483971  0.0  0.0  1.0  1.00  1.0
left ventricular hypertrophy  0.500000  0.0  0.0  0.0  0.25  1.0
normal                        0.500303  0.0  0.0  0.0  1.00  1.0

[3 rows x 56 columns]

**Посчитайте у кого уровень депрессии при физический нагрузке выше (в среднем), среди мужчин страдающих болезнью сердца или среди женщин не страдающих болезнью сердца (st_depression)**

In [110]:
m_hi = group_sex_targ.get_group(('male', 1))['st_depression'].mean()
f_nhi = group_sex_targ.get_group(('female', 0))['st_depression'].mean()
if m_hi > f_nhi:
    print('У мужчин страдающих болезнью сердца')
else:
    print('У женщин не страдающих болезнью сердца')

У женщин не страдающих болезнью сердца

**Посчтитайте максимальный и минимальный уровень холестерина для каждого типа chest_pain_type, rest_ecg, thalassemia. Пишите код оптимально, можно использовать циклы**

In [148]:
fichas_1 = ['chest_pain_type', 'rest_ecg', 'thalassemia']
lev_chol = []
for i in fichas_1:
    a = data.groupby(i)['cholesterol'].max()
    b = data.groupby(i)['cholesterol'].min()
    lev_chol.append([a, b])
print(lev_chol)

[[chest_pain_type
atypical angina     564
non-anginal pain    298
typical angina      409
Name: cholesterol, dtype: int64, chest_pain_type
atypical angina     126
non-anginal pain    182
typical angina      131
Name: cholesterol, dtype: int64], [rest_ecg
ST-T wave abnormality           354
left ventricular hypertrophy    327
normal                          564
Name: cholesterol, dtype: int64, rest_ecg
ST-T wave abnormality           126
left ventricular hypertrophy    197
normal                          149
Name: cholesterol, dtype: int64], [thalassemia
fixed defect         417
normal               318
reversable defect    564
Name: cholesterol, dtype: int64, thalassemia
fixed defect         141
normal               169
reversable defect    126
Name: cholesterol, dtype: int64]]

**Сколько значений может принимать каждый из категориальных признаков?**

In [124]:
## Категориальные - sex,chest_pain_type,  
##fasting_blood_sugar, rest_ecg, exercise_induced_angina, st_slope, thalassemia
print('Количество значений признака "Пол" =', len(data.groupby('sex')))
print('Количество значений признака "Тип грудной боли" =',len(data.groupby('chest_pain_type')))
print('Количество значений признака "Уровень глюкозы натощак" =',len(data.groupby('fasting_blood_sugar')))
print('Количество значений признака "ЭКГ в покое" =', len(data.groupby('rest_ecg')))
print('Количество значений признака "Боль после физ. нагрузки" =', len(data.groupby('exercise_induced_angina')))
print('Количество значений признака "Снижение ST" =', len(data.groupby('st_slope')))
print('Количество значений признака "Талассемия" =', len(data.groupby('thalassemia')))

Количество значений признака "Пол" = 2
Количество значений признака "Тип грудной боли" = 3
Количество значений признака "Уровень глюкозы натощак" = 2
Количество значений признака "ЭКГ в покое" = 3
Количество значений признака "Боль после физ. нагрузки" = 2
Количество значений признака "Снижение ST" = 2
Количество значений признака "Талассемия" = 3

**У какого категориального признака наблюдается самый сильный дизбаланс классов?**

In [144]:
fichas_2 = ['sex', 'chest_pain_type', 'fasting_blood_sugar', 'rest_ecg', 'exercise_induced_angina', 'st_slope', 'thalassemia']
freqs = {}
for i in fichas_2:
    freqs[i] = data[i].describe()['freq']
print(max(freqs, key = freqs.get))

fasting_blood_sugar

---